{% extends "blog_base.html" %}
{% block title %}{{ keyword }} 博客内容搜索{% endblock %}
{% block content %}
    {#    <div class="posts">#}
    {% if error %}
        没有相关文章题目,搜索词不得为空或者请更换搜索词
    {% else %}
        {% if keyword %}
            <a href="javascript:history.go(-1);">返回上一页</a>
        {% endif %}
        {% block blog_title %}【{{ keyword }}】搜索结果 (共有<strong style="color: blue">【{{ post_list.count }}】</strong>篇文章) {% endblock %}
        <div class=""><h3></h3>
            {% for post in post_list %}
                <ul class="archives-list">
                    <li>
                        <time>{{ post.create_time |date:"Y/m /d"}}</time>
                        <a href="{% url "detail" id=post.id %}">{{ post.title }}</a>
                    </li>
                </ul>
            {% endfor %}
            <br/>
        </div>
    {% endif %}
{% endblock %}