{% extends "blog_base.html" %}
{% block title %}微博碎碎语页{% endblock %}


{% block head %}
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    {#    #网页天气#}
    <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
    <script>tpwidget("init", {
        "flavor": "bubble",
        "location": "WTW3SJ5ZBJUY",
        "geolocation": "disabled",
        "position": "bottom-left",
        "margin": "10px 10px",
        "language": "zh-chs",
        "unit": "c",
        "theme": "chameleon",
        "uid": "U4AEB77A5F",
        "hash": "17d6db03865c1c5dc3e3de86d8562b90"
    });
    tpwidget("show");
    </script>

{% endblock %}
{% block blog_title %}全部碎语 (共{{ all_post.count }}句叨叨) 当天{{ now_time}}发表了【<strong style="color: blue">{{weibo_count}}</strong>】篇碎语{% endblock %}

{% block content %}
    {% if not message %}
        <div align="right">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">写碎语</button>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="True">
            <form class='form-taskcreate' action="{% url "new_weibo" %}" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h2 class="modal-title" id="myModalLabel">
                                我的碎碎语
                            </h2>
                        </div>

                        <div class="modal-body">
                            {% csrf_token %}
                            <h3>千言万语藏心中，一吐为快好轻松</h3>
                            <textarea class="form-control" rows="3" cols=60 id='markText' name="content" warp="off" placeholder="说出你的碎碎念"></textarea>
                            <br/>
                        </div>
                        <div class="modal-footer">
                            {#                         <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
                            <button type="submit" class="btn btn-primary btn-lg active center-block">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->

        <form class="form-group" action="{% url "weibo_search" %}" method="get" >
            <input class="form-control col-sm-3" type="text" name="keyword" placeholder="内容搜索" >
            <button class="btn btn-primary" type="submit">搜索</button>
            {#            <input class="pure-input-1-5" type="text" name="keyword2" placeholder="城市、地标搜索">#}
            {#            <a class="pure-button pure-button-primary"   href="{% url 'timeline_search' kd=keyword %}">搜索</a>#}
        </form>

        {#        <form class="form-group" action="{% url "weibo_search" %}"  method="get" >#}
        {#            <input class="form-control col-sm-3" type="text" id="tag" name="q" placeholder="内容搜索" >#}
        {#            <button class="btn btn-primary" type="submit">搜索</button>#}
        {#        </form>#}

        <div class="posts">
            <section class="post">
                <header class="post-header">
                    {% for post in posts %}
                        <h2>{{ post.title }}</h2>
                        <p>
                            第  <a class="post-id" href="#">【<strong style="color: blue">{{ post.id}}</strong>】</a>条
                            <span class="glyphicon glyphicon-time">：<a class="post-time1 " href="#">{{ post.create_time|date:"Y-m-d H:i:s"}}</a>
                           <span class="glyphicon glyphicon-user">：<a class="post-author1 " href="" name=post.author %}">{{ post.createuser }}</a>
                               <span class="glyphicon glyphicon-map-marker">：<a class="post-ip1" href="#">{{ post.ip}}</a>
                        </p>
                        </header>

                        <div class="post-description">
                            <p>
                                {{ post.content }}
                            </p>
                        </div>
                    {% endfor %}
            </section>
            <div >
            <span class="blog_footer_tip">
                共{{pages.count}}篇碎语，当前第【<strong style="color: #b92c28">{{posts.number}}</strong>】页，共{{pages.num_pages}}页
{#                {{ now_time}}当天发表了【<strong style="color: blue">{{weibo_count}}</strong>】篇碎语#}
            </span><br/>

                <ul class="pagination">
                    {# 上一页，这里需要用到has_previous方法判断是否有上一页 #}
                    <li>
                        <a href="?page=
                        {% if posts.has_previous %}
                            {{posts.previous_page_number}}
                        {% else %}
                            {{posts.number}}
                        {% endif %}
                    " aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {# 遍历所有页码 #}
                    {% for page in pages.page_range %}
                        <li><a href="?page={{page}}">{{page}}</a></li>
                    {% endfor %}

                    {# 下一页，这里需要用到has_next方法判断是否有下一页 #}
                    <li>
                        <a href="?page=
                        {% if posts.has_next %}
                            {{posts.next_page_number}}
                        {% else %}
                            {{posts.number}}
                        {% endif %}
                    " aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% block extra_footer %}
                {#设置凸显当前的页码#}
                <script type="text/javascript">
                    $(".pagination li:eq({{posts.number}})").addClass("active");
                </script>
            {% endblock %}
        </div>
    {% else %}
        <div class="alert alert-warning">{{ message }}</div>
        <div align="right">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">写碎语</button>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="True">
        <form class='form-taskcreate' action="{% url "new_weibo" %}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h2 class="modal-title" id="myModalLabel">
                            我的碎碎语
                        </h2>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        <h3>千言万语藏心中，一吐为快好轻松</h3>
                        <textarea class="form-control" rows="3" name="content" placeholder="说出你的碎碎念"></textarea>
                        <br/>

                    </div>
                    <div class="modal-footer">
                        {#                         <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
                        <button type="submit" class="btn btn-primary btn-lg active center-block">提交</button>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}
<div class="modal fade modal-vertical-centered" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel">
                    休息小贴士
                </h2>
            </div>
            <div class="modal-body">已持续盯着屏幕10分钟了，请离开此页面休息一下下！</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{% endblock %}